<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" action="index.html" method="POST">
                <span>
                    <input id="url-input" type="text" name="input" value="" required>
                    <label for="url-input">enter article url</label>
                </span>
                <input type="submit" name="" value="submit">
            </form>
            <span id="notif"></span>
        </section>
        <section>
            <!-- <strong>Form Results:</strong> -->
            <div class="sp-circle"></div>
            <div id="results">
            </div>
        </section>
    </main>

    <footer>
        <p><span>n-l-p</span> articles evaluator <span>udacity</span> nanodegree project by <span>mohamed
                tebba</span></p>
    </footer>
    <!-- <script>
        
            
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('../../../dist/service-worker.js')
        })

    }
    
       
    </script> -->
</body>

</html>

<!-- {enabled: env.production} -->